
.navbar {
  font-family: 'Oswald', sans-serif;
  background-color: #660066;
}

.navbar-brand, footer{
  font-family: 'Shadows Into Light';
  font-size: 1.5rem;
}

header {
  background-image: url(../img/anaisofia.JPG);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 3rem;
  padding-bottom: 25rem;
  padding-left: 1.5rem;
  display: block;
}

header .ExtraLight {
  font-family: 'Oswald', sans-serif;
  font-weight: 200;
}

header .Bold {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
}

#intro h5 {
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
}

#intro p {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}

#trabajo {
  font-family: 'Oswald', sans-serif;
  background-color: #660066;
}

.guion {
  width: 5rem;
}

.guionMain {
  width: 10rem;
  text-align:left;
  margin: 0 auto 0 0;
}

.card-title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.card-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

footer {
  background-color: #660066;
}
